<!DOCTYPE html>
<html>

	<h1>Change</h1>


<body>

	<form method="post" action="changeit">
	    <%updt.each do |updt|%>
        <input type="hidden" name="awsd" value="<%=awsd%>"> 
        <input type="text" name="f_name" value="<%=updt['f_name']%>">
        <input type="text" name="l_name" value="<%=updt['l_name']%>"><br>
        <input type="text" name="street" value="<%=updt['street']%>">
        <input type="text" name="city" value="<%=updt['city']%>"><br>
        <input type="text" name="state" value="<%=updt['state']%>">
        <input type="text" name="zip" value="<%=updt['zip']%>"><br>
        <input type="text" name="phone" value="<%=updt['phone']%>"><br>
          <input type="radio" name="radio" value="update">Update
          <input type="radio" name="radio" value="delete">Delete
          <input type="radio" name="radio" value="cancel">Cancel<br>
      <%end%>
		    <input type="submit" value="UpDate">
	</form>
</body>
</html>