<!DOCTYPE html>
<html>
				<h1>List </h1>
	<body>
		<table width = 90% height = 70%>
		
		<h2>search results::<br>
			
					<%=result%>
				<%end%>	<br>
			<%end%>	<br>
		
			<form method="post" action="return">
        	<th>Select</th> 
          <th>First Name</th> 	
					<th>Last Name</th>
					<th>Street Address</th>
					<th>City</th>
					<th>State</th>
					<th>ZipCode</th>
					<th>Phone Number</th>
				<%list.each do |row|%>
					<tr>	
						<td><input type="checkbox" name="awsd" value="<%=row['id']%>"></td>
						<td><%=row['f_name']%></td>
						<td><%=row['l_name']%></td>									
						<td><%=row['street']%></td>
						<td><%=row['city']%></td>
						<td><%=row['state']%></td>
						<td><%=row['zip']%></td>
						<td><%=row['phone']%></td>
					</tr><br>
				<%end%>	
		</table>		
						Would you like to update an entry ?<br>
					<input type="submit" value="doit"><br>
						Nah,..SaulGud
					  <a href="/">Add another entry or search another number</a><br>
			</form>
			
	</body>
</html>