<!DOCTYPE html>
<html>

	<body>
		<table width = 100%>
			<form method="post" action="return">
				<%list.each do |row|%>
					<tr>	
						<td><input type="checkbox" name="awsd" value="<%=row['id']%>"></td>
						<td><%=row['f_name']%></td>
						<td><%=row['l_name']%></td>									
						<td><%=row['street']%></td>
						<td><%=row['city']%></td>
						<td><%=row['state']%></td>
						<td><%=row['zip']%></td>
						<td><%=row['phone']%></td>
					</tr><br>
				<%end%>	
		</table>		
					<input type="submit" value="doit">
			</form>
			
	</body>
</html>