<!DOCTYPE html>
<html>

	<body>
		<table width = 100%>
			<form method="post" action="return">
				<%list.each do |row|%>
					<tr>	
						<td><%=row['F_name']%></td>
						<td><%=row['L_name']%></td>
						<td><%=row['Address']%></td>
						<td><%=row['City']%></td>
						<td><%=row['State']%></td>
						<td><%=row['Zip']%></td>
						<td><%=row['Phone']%></td>
					<input type="checkbox" name="awsd" value="<%=row['id']%>">
					</tr><br>
				<%end%>	
		</table>		
					<input type="submit" value="doit">
			</form>
			
	</body>
</html>